
<header class="app-header">
  <div class="header-wrapper">
     
          <div>
              <a href="#"><img src="../assets/images/logo.png"></a>
          </div> 
              
      <div class="navbar_items">
          <p class="mb-0"><a routerLink="/search-swipe" class="nav_links">Search swipe</a></p>
          <p class="mb-0"><a routerLink="/swipe-screen" class="nav_links">Swipe screen</a></p>
      </div>
          
  </div>
</header>
<div class="app-container">
<router-outlet></router-outlet>
</div>